layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar" 
        }
        children
        pane size=1 borderless=true {
            plugin location="file:~/.local/zellij/plugins/zjstatus.wasm" {
                format_left  "{command_git_branch}"
                format_right "{command_twn} | {command_twt}"
                format_space " "

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal  "#[bg=blue] "
                mode_tmux    "#[bg=#ffc387] "

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[fg=#9399B2,bold,italic] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "dynamic"

                command_twn_command     "/home/kryses/scripts/productivity/tw-current-task.sh"
                command_twn_format      "#[fg=blue]  {stdout} "
                command_twn_interval    "1"
                command_twn_render_mode "dynamic"

                command_twt_command     "/home/kryses/scripts/productivity/tw-current-time.sh"
                command_twt_format      "#[fg=blue] 󱑆 {stdout} "
                command_twt_interval    "1"
                command_twt_render_mode "dynamic"

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Berlin"
            }
        }

    }
    tab name="Dev" {
        floating_panes {
            pane command="chatgpt"
        }
        pane {
            pane focus=true cwd="/home/kryses/repos/work"
            pane split_direction="vertical" size="25%" {
                pane cwd="/home/kryses/repos/work"
                pane cwd="/home/kryses/repos/work"
            }
        }

    } 
}
